@model EHikeB.Models.Session


@{
    ViewData["Title"] = "Create";
}


<div class="container py-5">

    <h4 class="text-center text-secondary">New sessions</h4>


    <div class="row gx-5 justify-content-center mr-0 ml-0">
        <div class="col-lg-8">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-center mb-3">
                    <label asp-for="StartLocation" class="control-label"></label>
                    <input asp-for="StartLocation" class="form-control" />
                    <span asp-validation-for="StartLocation" class="text-danger"></span>
                </div>
                <div class="form-group text-center mb-3">
                    <label asp-for="EndLocation" class="control-label"></label>
                    <input asp-for="EndLocation" class="form-control" />
                    <span asp-validation-for="EndLocation" class="text-danger"></span>
                </div>
                <div class="form-group text-center mb-3">
                    <label asp-for="StartTime" class="control-label"></label>
                    <input asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="form-group text-center mb-3">
                    <label asp-for="DeviationTime" class="control-label"></label>
                    <input asp-for="DeviationTime" class="form-control" />
                    <span asp-validation-for="DeviationTime" class="text-danger"></span>
                </div>

                <div class="form-group text-center mb-3">
                    <label  class="control-label">Select the car you are going to use</label>
                    <select id="car" asp-items="ViewBag.Cars" name="car" class="form-control"></select>
                </div>

                <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                    <input type="submit" value="Create" class=" btn btn-secondary text-center " />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
