@model EHikeB.Models.Session


@{
    ViewData["Title"] = "Create";
}

<h4 class="text-center text-secondary">New sessions</h4>
<hr />

<div class="row gx-5 justify-content-center">
    <div class="col-lg-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center mb-3">
                <label asp-for="StartLocation" class="control-label"></label>
                <input asp-for="StartLocation" class="form-control" />
                <span asp-validation-for="StartLocation" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="EndLocation" class="control-label"></label>
                <input asp-for="EndLocation" class="form-control" />
                <span asp-validation-for="EndLocation" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="DeviationTime" class="control-label"></label>
                <input asp-for="DeviationTime" class="form-control" />
                <span asp-validation-for="DeviationTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Car" class="control-label"></label>
                <select asp-for="Car" asp-items="@(new SelectList(ViewBag.Cars))" class="form-control"></select>
                <span asp-validation-for="Car" class="text-danger"></span>
            </div>

            <div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit" value="Create" class=" btn btn-primary text-center btn-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">&laquo; Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
