@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container py-5">


    <h1 class="text-center text-secondary">My cars</h1>

    <p>
        <a asp-action="Create" class="btn btn-secondary">Create New</a>
    </p>
</div>