@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container py-5">
    @*<form>
            <div class="form-inline ">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Zip Code</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Date</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary">Sign in</button>
                </div>
            </div>


        </form>*@

    <h4 class="text-center text-secondary mb-3">Search</h4>

    @*<div class=" card container py-1 mb-3">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-sm-5 my-1">
                        <label class="sr-only" for="inlineFormInputName">Name</label>
                        <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                    </div>
                    <div class="col-sm-5 my-1">
                        <label class="sr-only" for="inlineFormInputName">Name</label>
                        <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe">
                    </div>

                    <div class=" my-1 justify-content-md-end">
                        <button type="submit" class="btn btn-secondary ">Search</button>
                    </div>
                </div>
            </form>
        </div>*@
    <div class="card mb-3">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <form>
                <div class="form-row align-items-center">
                    <div class="col-sm-6 my-1">
                        <label class="sr-only" for="inlineFormInputName">Name</label>
                        <input type="text" class="form-control" id="inlineFormInputName" placeholder="Zip Code">
                    </div>
                    <div class="col-sm-6 my-1">
                        <label class="sr-only" for="inlineFormInputName">Name</label>
                        <input type="datetime-local" class="form-control" id="inlineFormInputName" >
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary mt-2">Go to search</button>
            </form>
        </div>
    </div>

    <div class="card mb-3">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
            <a href="#" class="btn btn-secondary">Visit details page</a>
        </div>
    </div>
    <div class="card mb-3">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
            <a href="#" class="btn btn-secondary">Visit details page</a>
        </div>
    </div>
    <div class="card mb-3">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
            <a href="#" class="btn btn-secondary">Visit details page</a>
        </div>
    </div>

</div>